<div class="container" >
  <ng-container  *ngIf="productsInput$ |async as results" [ngSwitch]="results.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">

    <div class="mt-5">
      loading......
    </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="text-danger" >
       {{results.errorMessage}}
      </div>
       </ng-container>
    <ng-container
     *ngSwitchCase="DataStateEnum.LOADED">
      <div class="mt-5"  >
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantite</th>
              <th>Selected</th>
              <th>Available</th>

            </tr>
          </thead>
          <tbody>
            <app-product-item [product]="product"
            *ngFor="let product of results.data" style="display: contents;" >

            </app-product-item>
          </tbody>
        </table>
      </div>
      </ng-container>

  </ng-container>

  </div>
