<tr *ngIf="product" >
  <td>{{product.id}}</td>
  <td>{{product.name}}</td>
  <td>{{product.price}}</td>
  <td>{{product.quantity}}</td>
  <td>{{product.available}}</td>
  <td>
    <button (click)="onSelect(product)" [ngClass]="product.selected ? 'btn-success' : 'btn-danger'" class="btn btn-sm">
      <span *ngIf="product.selected"  >Unselected</span>
      <span *ngIf="!product.selected"  >selected</span>
    </button>

  </td>
  <td>
    <button class="btn btn-danger btn-sm" (click)="deleteProduct(product)" >
      <span class="fa fa-trash-o" ></span>
    </button>
  </td>
  <td>
    <button class="btn btn-danger btn-sm" (click)="onUpdateProduct(product)" >
      <span class="fa fa-edit" ></span>
    </button>
  </td>
</tr>
